body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

p {
    color: rgba(243, 7, 27, 0.539);
}
h1{
    
    opacity: 80%;
    color: black;
    text-decoration: dotted ;
    
}
.mc1 {
    background-color: rgba(149, 52, 185, 0.5);
    background-image: url(mc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
*{
    font-family:Minecraft;
}
img {
    max-width: 100%;
    height: auto;
}
.stroke-text {
  font-size: 48px;
  color: white;
  -webkit-text-stroke: 2px black;
}
